.card {
    border: 4px solid #7C9D96;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 225, 148, 0.75);
    padding: 5px 0 5px 5px;
    color: #4C4C6D;
    margin-bottom: 20px;
}

img {
    width: 90%;
    height: 50%;
    border: 2px solid #7C9D96;
}

hr {
    border: 1px dashed;
    color: #1B9C85;
}

@media screen and (min-width: 481px) {

}

@media screen and (min-width: 769px) {
    .card {
        padding: 5px;
    }

    hr {
        border: 1px dashed;}
}


@media screen and (min-width: 1025px) {

 

}
