.hero {
    width: 100%;
    margin: auto;
}

.heroSection {

}


@media screen and (min-width: 481px) {

}

@media screen and (min-width: 769px) {
 .hero {
        width: 100%;
    }

    .heroSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

}


@media screen and (min-width: 1025px) {
    .hero {
        width: 75%;
    }

}